* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

body {
	background-color: hsl(212, 45%, 89%);
}

section {
	background-color: hsl(0, 0%, 100%);
	border-radius: 5%;
	text-align: center;
	border: 1px solid hsla(219, 15%, 55%, 0.295);
}

h1 {
	color: hsl(218, 44%, 22%);
	font-weight: bold;
		font-size: 22px;
}

p {
	color: hsl(220, 15%, 55%);
	font-weight: normal;
}
img{
	border-radius: 4%;
	margin: 1rem;
}
@media (min-width: 280px) and (max-width: 800px) {
	section {
		width: 90vw;
		height: 75vh;
		margin: 12.5vh 5vw;
	}
	img {
		width: 80vw;
		height: 45vh;
	}
	h1,
	p {
		margin: 0 7vw 2vh 7vw;
		padding: 0 3vw;
	}
}
@media (min-width: 801px){
	div{
		text-align: center;
	}
	section {
		width: 25vw;
		height: 60vh;
		margin: 20vh auto;
		
	}
	img {
		width: 22vw;
		height: 35vh;
	}
	h1,
	p {
		margin: 0 2vw;
		padding: 1vh 1vw;
	}

}
